@model IEnumerable<Material>

@{
    ViewData["Title"] = "List of Materials";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.MaterialName)</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) { 
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle text-center">
                            @Html.DisplayFor(modelItem => item.MaterialName)
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) { 
                            <td class="align-middle text-center">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="bi bi-pencil-square"></i>Edit
                                </a> |
                                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="bi bi-trash"></i>Delete
                                </a>
                            </td>
                        }
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Materials") 